.footer {
  background: #222;
  color: #ddd;
  text-align: center;
}

.footer .logo {
  width: 100px;
  margin-bottom: -30px;
}

.footer a {
  transition: color 0.3s;
}

.footer a:hover {
  color: #9c7c1c; /* Cor dourada ao passar o mouse */
}
