<app-particles>

</app-particles>

<div class="container">
  <app-navbar></app-navbar>
  <section class="banner">
    <div class="content-banner">
      <h1 class="display-4">Bem-vindo à TorquatoIT</h1>
      <p class="lead">Desenvolvimento de soluções inovadoras para sua empresa</p>
      <a href="#services" class="btn btn btn-lg btn-services">Conheça nossos serviços</a>
    </div>
  </section>

  <section class="services fade-in" id="services">
    <div class="container">
      <h2 class="text-center mb-5">Nossos Serviços</h2>
      <div class="row">
        <!-- Serviço 1 -->
        <div class="col-md-4 mb-4">
          <div class="service-card text-center">

              <i class="fas fa-laptop-code fa-4x mb-3" style="color: #9e7c3b;"></i> <!-- Ícone de computador -->


            <h5>Desenvolvimento Web</h5>
            <p>Criação de sites responsivos e sistemas web personalizados de alta performance.</p>
          </div>
        </div>

        <!-- Serviço 2 -->
        <div class="col-md-4 mb-4">
          <div class="service-card text-center">
            <i class="fas fa-mobile fa-4x mb-3" style="color: #9e7c3b;"></i>
            <h5>Aplicativos Móveis</h5>
            <p>Desenvolvimento de aplicativos móveis para Android e iOS, com soluções inovadoras.</p>
          </div>
        </div>

        <!-- Serviço 3 -->
        <div class="col-md-4 mb-4">
          <div class="service-card text-center">
            <i class="fa fa-cloud fa-4x mb-3" style="color: #9e7c3b;"></i> <!-- Ícone de nuvem -->
            <h5>Serviços em Nuvem</h5>
            <p>Implementação de soluções de infraestrutura em nuvem e integração de sistemas.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Serviço 1 -->
        <div class="col-md-4 mb-4">
          <div class="service-card text-center">

              <i class="fas fa-laptop-code fa-4x mb-3" style="color: #9e7c3b;"></i> <!-- Ícone de computador -->


            <h5>Desenvolvimento Web</h5>
            <p>Criação de sites responsivos e sistemas web personalizados de alta performance.</p>
          </div>
        </div>

        <!-- Serviço 2 -->
        <div class="col-md-4 mb-4">
          <div class="service-card text-center">
            <i class="fas fa-mobile fa-4x mb-3" style="color: #9e7c3b;"></i>
            <h5>Aplicativos Móveis</h5>
            <p>Desenvolvimento de aplicativos móveis para Android e iOS, com soluções inovadoras.</p>
          </div>
        </div>

        <!-- Serviço 3 -->
        <div class="col-md-4 mb-4">
          <div class="service-card text-center">
            <i class="fa fa-cloud fa-4x mb-3" style="color: #9e7c3b;"></i> <!-- Ícone de nuvem -->
            <h5>Serviços em Nuvem</h5>
            <p>Implementação de soluções de infraestrutura em nuvem e integração de sistemas.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="portfolio" id="">
    <span id="portifolio"></span>
    <div class="container">
      <h2 class="text-center mb-5">Nosso Portfólio</h2>
      <div class="row">
        <!-- Card do Projeto 1 -->
        <div class="col-md-4 mb-4">
         <a href="https://fabiobarra.torquatoit.com" target=_blank>
            <div class="card">
              <img src="images/fabiobarra.png" class="card-img-top" alt="Fabio Barra">
              <div class="card-body">
                <h5 class="card-title">Fabio Barra</h5>
                <p class="card-text">Site institucional criado para Fábio Barra, personal trainer especializado em natação e águas abertas.</p>
              </div>
            </div>
         </a>
        </div>

        <!-- Card do Projeto 2 -->
        <div class="col-md-4 mb-4">
         <a href="https://fbsportsperformance.torquatoit.com" target=_blank>
            <div class="card">
              <img src="images/fbsports.png" class="card-img-top" alt="FB Sports Performance">
              <div class="card-body">
                <h5 class="card-title">FB Sports Performance</h5>
                <p class="card-text">Site institucional criado para FB Sports Performance, em treinamentos de alta performance no futebol.</p>

              </div>
            </div>
         </a>
        </div>

        <!-- Card do Projeto 3 -->
        <div class="col-md-4 mb-4">
          <a>
            <div class="card">
              <img src="images/smweb.png" class="card-img-top" alt="Personal SM Web">
              <div class="card-body">
                <h5 class="card-title">Personal SM Web</h5>
                <p class="card-text">Plataforma completa para personal trainers, oferecendo gestão eficiente de treinos e alunos.

                </p>

              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <!-- Card do Projeto 1 -->
        <div class="col-md-4 mb-4">
          <a href="https://torquatoit.com/torquatodo" target=_blank>
            <div class="card">
              <img src="images/torquatodo.png" class="card-img-top" alt="TorquaToDo">
              <div class="card-body">
                <h5 class="card-title">TorquaToDo</h5>
                <p class="card-text">Ferramenta para criação de tarefas, selecione seu humor e leia mensagens que possam te ajudar.</p>

              </div>
            </div>
          </a>
        </div>

        <!-- Card do Projeto 2 -->
        <div class="col-md-4 mb-4">
          <a href="" target=_blank>
            <div class="card">
              <img src="images/ciaparq.png" class="card-img-top" alt="Cia Parq">
              <div class="card-body">
                <h5 class="card-title">Cia Parq</h5>
                <p class="card-text">Plataforma de indicação com ranking de melhor performance, feito para Cia Athletica.</p>
              </div>
            </div>
          </a>
        </div>

        <!-- Card do Projeto 3 -->
        <div class="col-md-4 mb-4">
          <a href="" target=_blank>
            <div class="card">
              <img src="images/smapp.png" class="card-img-top" alt="Personal SM Mobile">
              <div class="card-body">
                <h5 class="card-title">Personal SM Mobile</h5>
                <p class="card-text">App para alunos e personais, para montagem e consulta de treinos, agenda, histórico e evolução.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>




  <section id="about" class="py-5">
    <div class="container">
      <h2 class="text-center mb-4">Sobre Nós</h2>
      <div class="row">
        <div class="col-md-6">
          <p class="lead">Somos a **TorquatoIT**, uma empresa inovadora que oferece soluções digitais para negócios e profissionais. Nosso foco é transformar ideias em realidade através de tecnologia de ponta, oferecendo uma experiência única e personalizada a cada cliente.</p>
          <p>Com uma equipe de especialistas, nosso objetivo é criar sites e plataformas intuitivas, responsivas e seguras, que atendam às necessidades de nossos clientes. Em cada projeto, buscamos não apenas a excelência técnica, mas também a compreensão das necessidades do cliente para proporcionar soluções que realmente agreguem valor.</p>
        </div>
        <div class="col-md-6">
          <p class="lead">Nossa missão é simplificar processos, melhorar a performance digital e garantir resultados excepcionais. Trabalhamos com dedicação, paixão e inovação, sempre em busca de superar as expectativas de nossos clientes.</p>
          <p>Seja para criar um site institucional, uma plataforma de gestão ou soluções personalizadas para o seu negócio, a **TorquatoIT** está pronta para ajudar você a alcançar seus objetivos com segurança, praticidade e qualidade.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="contact-section py-5" id="contato">
    <div class="container">
      <div class="row">

        <!-- Informações de Contato -->
        <div class="col-md-6 mb-4">
          <h2 class="text-contact">Entre em Contato</h2>
          <p>Fale conosco para mais informações sobre nossos serviços.</p>

          <div class="contact-info">
            <p><i class="fas fa-phone"></i> <a href="tel:+550000000000">+55 00 0000-0000</a></p>
            <p><i class="fas fa-envelope"></i> <a href="mailto:contato@torquatoit.com">contatotorquatoit.com</a></p>
            <p><i class="fas fa-map-marker-alt"></i> Endereço da empresa, Cidade - Estado</p>
          </div>
        </div>

        <!-- Formulário de Contato -->
        <div class="col-md-6">
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Nome</label>
              <input type="text" class="form-control" id="name" placeholder="Seu nome" required>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="email" placeholder="Seu e-mail" required>
            </div>

            <div class="mb-3">
              <label for="message" class="form-label">Mensagem</label>
              <textarea class="form-control" id="message" rows="4" placeholder="Digite sua mensagem..." required></textarea>
            </div>

            <button type="submit" class="btn btn-contact w-100">Enviar</button>
          </form>
        </div>

      </div>
    </div>
  </section>
  <app-footer></app-footer>

</div>
