<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark mt-4">
    <a class="navbar-brand" href="/">TorquatoIT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light" href="/portfolio">Portfólio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light" href="/ferramentas">Ferramentas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-warning text" href="/contato">Contato</a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
